@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Simonetta&display=swap");

$primary-color: #579c87;
$text-color: #fdcb46;

html {
    font-family: 'Open Sans';
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 {
	 margin: 0
}

.header {
    background-color: $primary-color;
    margin-top: 0;
    &_logo {
        font-size: 40px;
        margin-top: 0;
        color: $text-color;
        text-align: center;
        padding: 1% 0% 1% 0%
    }
}

.page_title {
	text-align: center;
}

// Menu in menu page
.menu {
	font-size: 25px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
    box-shadow: 1px 1px 3px 3px #ededed;
	margin-bottom: 10%;
	&_header {
		margin-bottom: 2%;
	}
    &_starter, &_dish, &_dessert {
		margin-bottom: 10%;
	}
	&_starter_title, &_dish_title, &_dessert_title {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 5%
	}
	&_trait {
		display: inline-block;
		&--reverse {
			transform: scaleX(-1);
		}
	}
	& h3 {
		text-decoration: none;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width:0%;
			border-bottom: 3px solid;
			transition: 0.7s;
		}
		&:hover:after {
			width: 100%;
		}
	}
}

.elem {
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	padding-left: 5%;
	padding-right: 5%;
	&_descr {
		text-align: left;
	}
}

// Container for menu-prev
.menus {
    display: flex;
    width: 80%;
    justify-content: center;
	align-content: start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.menu-prev {
    padding-top: 10%;
    padding-bottom: 10%;
    flex: 0 0 40%;
    margin: 20px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vw;
    box-shadow: 1px 1px 3px 3px #ededed;
    &:nth-child(2) {
        font-size: 1.8vw;
    }
    &_title {
        margin-bottom: 10%;
    }
	&_link:focus {
		outline: 0;
  		border: none;
	}
    & * {
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    &:hover * {
        transform: scale(1.3);
		opacity: 0.5;
    }
}

.menu1 {
    background-color: #fcdfdb;
    font-family: 'Lobster';
    &_icon, &_icon--page {
        background: -webkit-radial-gradient(bottom left, #f15861, #f78f6a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
		
	}
	&_icon--page {
			margin-top: 5%;
			font-size: 50px;
	}
	&_footer {
		display: flex;
		justify-content: center;
		margin-bottom: 5%;
		& .menu1_icon--page {
			margin-top: 5%;
			margin-right: 8px;
		}
	}
	
}

.menu2 {
    background-color: #fff5fe;
    font-family: 'Simoneta';
    color: #d8852e;
    &_title {
        background: -webkit-linear-gradient(bottom left, #d8852e, #905bfd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	& .menu_dish {
		color: #a56799;
    }
	& .menu_dessert {
		color: #6e4ccc;
    }
	& .menu_starter, & .menu_dish, & .menu_dessert  {
        font-size: 17px;
	}
}

.menu3 {
    background-color: #edefef;
    font-family: 'Satisfy';
    &_title {
        background: -webkit-linear-gradient(bottom left, #0431df, #0887fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	& .menu-prev_link {
		color: #0431df;
	}
}

.menu4 {
    background-color: #fdfffd;
    font-family: 'Satisfy';
    &_title {
        background: -webkit-linear-gradient(bottom left, #72bf56, #bfff7e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	& .menu-prev_link {
		color: #72bf56;
	}
}

.soon {
    color: $text-color;
    background-color: $primary-color;
    padding: 1vh 1vh 1vh 2vh;
    border-radius: 10px;
    width: 8.0em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    margin-bottom: 10vh;
    font-weight: 400;
}

.soon::after {
    content: '';
    animation: 4s point infinite;
}

.legal_notice {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 3px 3px #ededed;
	padding: 2%;
	& section h3 {
		color: $text-color;
	}
}

.footer_page {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $text-color;
    font-weight: 400;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1vh 1vh 1vh 1vh;
    font-size: 1.8vw;
}

.footer_page div:hover {
    animation: 1s wiggle infinite;
}

.footer_page div:nth-child(2) {
    padding-right: 20px;
}

@keyframes point {
    0% {
        content: ''
    }
    33% {
        content: '.'
    }
    66% {
        content: '..';
    }
	100% {
        content: '...';
    }
}

@keyframes wiggle {
    0% { transform: translate3d(-1px, 0, 0); }
   10% { transform: translate3d(-3px, 0, 0); }
   20% { transform: translate3d(1px, 0, 0); }
   30% { transform: translate3d(-1px, 0, 0); }
   40% { transform: translate3d(-2px, 0, 0); }
   50% { transform: translate3d(-1px, 0, 0); }
   60% { transform: translate3d(2px, 0, 0); }
   70% { transform: translate3d(-4px,0,0); }
   80% { transform: translate3d(1px, 0, 0); }
   90% { transform: translate3d(0px, 0, 0); }
  100% { transform: translate3d(0px, 0, 0); }
}
 
@media all and (min-width: 768px) and (max-width: 1330px) {
    .menus {
        width: 100%;
    }
	.menu {
		font-size: 25px;
		width:80%;
		&_trait, &_trait--reverse {
			width: 35%
		}
	}
	.menu-prev {
		height: 250px;
	   flex: 0 0 38%;
	   margin-bottom: 5%;
	}
}

@media all and (max-width: 768px) {
   .menu-prev {
	   font-size: 2.5vh;
	   flex: 0 0 38%;
	   &:nth-child(2) {
		   font-size: 2vh;
	   }
   } 
  .menu {
		width:100%;
		&_trait, &_trait--reverse {
			width: 35%
		}
	}
	.elem_descr {
		margin-right: 5%;
	}
	.elem {
		margin-bottom: 5%;
	}
	.elem:last-child {
		margin-bottom: 0%;
	}
	.soon {
		font-size: 3vw;
	}
	.footer_page {
		font-size: 2vh;
	}
}

@media all and (max-width: 600px) {
	.menu-prev {
		height: 25vh;
		margin: 2vh;
	}
	.menu {
		font-size: 20px;
		&.menu2 div {
			font-size:13px;
	   }
	}
   .menus {
		width: 100%;
		height: 80vh;
   }
   .soon {
	   font-size: 4vw;
   }
}

@media all and (max-width: 350px) {
	.menus {
		width: 100%;
		height: 100%;
	}
	.menu-prev {
		width: 100%;
		flex: 0 0 50%;
	}
}
