@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Simonetta&display=swap");
$primary-color: #579c87;
$text-color: #fdcb46;

html {
    font-family: 'Open Sans';
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    background-color: $primary-color;
    margin-top: 0;
    
    &_logo {
        font-size: 40px;
        margin-top: 0;
        color: $text-color;
        text-align: center;
        padding: 1% 0% 1% 0%
    }
}

.page_title {
	text-align:center;
}
.menus {
    display: flex;
    width: 80%;
    justify-content: center;
	align-content: start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.menu {
	font-size: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
    box-shadow: 1px 1px 3px 3px #ededed;
	margin-bottom: 10%;
    &_starter, &_dish, &_dessert {
		margin-bottom: 10%;
	}
}

.elem {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	padding-left: 5%;
	padding-right: 5%;
	&_descr {
		text-align: left;
	}
}

.menu-prev {
    padding-top: 10%;
    padding-bottom: 10%;
    flex: 0 0 45%;
    margin: 20px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
    box-shadow: 1px 1px 3px 3px #ededed;
    &:nth-child(2) {
        font-size: 30px;
    }
    &_title {
        margin-bottom: 10%;
    }
	&_link:focus {
		outline: 0;
  		border: none;
	}
    & * {
        transition: transform 0.5s ease;
    }
    &:hover * {
        transform: scale(1.3);
        animation: 0.5s zoom both,
    }
    &:hover {
        animation: 0.5s zoom both,
    }
    
}

.menu1 {
    background-color: #fcdfdb;
    font-family: 'Lobster';
    &_icon {
        background: -webkit-radial-gradient(bottom left, #f15861, #f78f6a);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
		&--page {
			font-size: 40px; 
		}
	}
}

.menu2 {
    background-color: #fff5fe;
    font-family: 'Simoneta';
    color: #d8852e;
    &_title {
        background: -webkit-linear-gradient(bottom left, #d8852e, #905bfd);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	& .menu_dish {
		color: #a56799;
    }
	& .menu_dessert {
		color: #6e4ccc;
    }
	& .menu_starter, & .menu_dish, & .menu_dessert  {
        font-size: 17px;
	}
}

.menu3 {
    background-color: #f9f9f9;
    font-family: 'Satisfy';
    &_title {
        background: -webkit-linear-gradient(bottom left, #0431df, #0887fb);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	& .menu-prev_link {
		color: #0431df;
	}
}

.menu4 {
    background-color: #fdfffd;
    font-family: 'Satisfy';
    &_title {
        background: -webkit-linear-gradient(bottom left, #72bf56, #bfff7e);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	& .menu-prev_link {
		color: #72bf56;
	}
}

.soon {
    color: $text-color;
    background-color: $primary-color;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    width: 8.0em;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    margin-bottom: 5%;
    font-weight: 400;
}

.soon::after {
    content: '';
    animation: 4s point infinite;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $text-color;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 10px 1000px 10px 10px;
    font-size: 25px;
}

footer div {
    animation: 2s wiggle infinite;
}

footer div:nth-child(2) {
    padding-right: 20px;
}

@keyframes point {
    0% {
        content: ''
    }
    25% {
        content: ''
    }
    50% {
        content: '.'
    }
    75% {
        content: '..'
    }
    100% {
        content: '...';
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg);}
   80% { transform: rotate(1deg); }
   85% { transform: rotate(4deg); }
   95% { transform: rotate(-4deg); }
  100% { transform: rotate(4deg); }
}

@keyframes zoom {
    from {
        opacity: 1
    }
    to {
        opacity: 0.70
    }
    
}

@media all and (max-width: 800px) {
   .menu-prev {
	   flex: 0 0 38%;
   } 
  .menu {
	width:100%;
	font-size: 15px;
	}
	.elem_descr {
		margin-left: 5%;
	}
	.elem {
		margin-bottom: 5%;
	}
	.elem:last-child {
		margin-bottom: 0%;
	}
}

@media all and (max-width: 800px) and (min-width: 600px) {
  	.soon {
    	margin-top: 5%
	}
}

@media all and (max-width: 600px) {
	.menu-prev {
		font-size: 25px;
		height: 20vh;
		margin: 2vh;
		&:nth-child(2) {
	        font-size: 20px;
    	}
	}
   .menus {
	   width: auto;
	   max-height: 60%;
	   height: 72vh;
   }
   .soon {
	   font-size: 2.5vh;
	   margin-bottom: 3%
   }
   footer {
	   font-size: 20px;
   }
}
 
@media all and (min-width: 800px) and (max-width: 1330px) {
    .menus {
        width: 100%;
    }
}
